@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.95);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  /*text-shadow: goldenrod 0px 0px 3px;*/
}

#linksbar {
  position: fixed;
  width: 20%;
  margin-left: 0px;
  margin-top: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#linkstop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#linkstop h3 {
  padding: 15px;
  color: goldenrod;
  font-size: 1.25rem;
}

#linkstop button {
  border: none;
  background: none;
  color: goldenrod;
  padding: 10px;
  font-size: 1.25rem;
}

#linkslist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.linkitem {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.linkitem i {
  color: goldenrod;
  padding-right: 10px;
}

.linkitem a {
  text-decoration: none;
  color: lightgray;
}

#time {
  font-size: 7rem;
}

h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 700px) {
  #time {
    font-size: 5rem;
  }
}
